<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<!-- head 태그를 포함하지 않고, headContent 프래그먼트를 사용 -->
<th:block layout:fragment="headContent">
    <style>
	/* 기본 테이블 스타일 */
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f4f4f4;
        }
        
         .main-image {
        display: block;
        margin: 0 auto;
	    }
	
	    @media (min-width: 1000px) {
	        .main-image {
	            max-width: 400px;
	        }
	    }
	</style>
	<script>
	  function aiAnswerResponse(button){
          //  event.preventDefault(); // 수정된 부분: 오타 수정
            
            var message = $("#exampleFormControlTextarea1").val(); // 수정된 부분: jQuery 사용법 수정
            $(".aiAnswersBtnIng").addClass('disabled').attr('tabindex', '-1').attr('aria-disabled', 'true').prop('disabled', true);
          	
           /*  $("#response").html(
          		    '<div class="d-flex justify-content-center">' +
          		        '<button class="btn btn-primary" type="button" disabled>' +
          		            '<span class="spinner-grow spinner-grow-sm me-2" aria-hidden="true"></span>' +
          		            '<span role="status">인공지능이 답변을 생성중...</span>' +
          		        '</button>' +
          		    '</div>'
          	); */
          
          
            $.ajax({
                type: "POST",
                url: "/gemini/chat",
                contentType: "application/json",
                data: JSON.stringify({message: message, type: "common"}),
                success: function(response){
                    $("#response").html(response);
                    $(".aiAnswersBtnIng").removeClass('disabled').removeAttr('tabindex').removeAttr('aria-disabled').prop('disabled', false);
                },
                error: function(xhr, status, error){
                    $("#response").html("에러: " + xhr.responseText);
                    $(".aiAnswersBtnIng").removeClass('disabled').removeAttr('tabindex').removeAttr('aria-disabled').prop('disabled', false);
                }
            });
       } 
	  
	  
	  
	  
	  $(function(){
  		currentAnswerCount();
  		
  		$('#categorySelect').change(function() {
              var selectedCategoryNo = $(this).val();
              showSpinner(); // 모든 ajax에 자동으로 넣으려면 어떻게하지? ajax 함수를 하나 만들까? hideSpinner();
              // 페이지를 새로 로드하면서 선택된 값을 쿼리 문자열로 전달
              window.location.href = '/questionMainVw?categoryNo=' + selectedCategoryNo;
          });
  	});
  	
  	 function aiAnswer(event, button, type) {  // 버튼 참조를 인자로 받음
          event.preventDefault(); // 클릭 기본 동작 막기

          // 로딩 중 표시
           $(button).closest('.card').find(".adsense").html(
          		"<div style='border: 1px solid; background-color: #e0e0e0;'>광고</div>"
         		);
           $(button).closest('.card').find(".response").html(
          		    '<div class="d-flex justify-content-center">' +
          		        '<button class="btn btn-primary" type="button" disabled>' +
          		            '<span class="spinner-grow spinner-grow-sm me-2" aria-hidden="true"></span>' +
          		            '<span role="status">인공지능이 답변을 생성중...</span>' +
          		        '</button>' +
          		    '</div>'
          		);
           
           //버튼 비활성화
           $(".aiAnswersBtnIng").addClass('disabled').attr('tabindex', '-1').attr('aria-disabled', 'true').prop('disabled', true);

    
           
          var message = $(button).closest('.card').find('.questionText').text(); // 버튼의 부모 카드에서 questionText를 찾음
          var question = "질문: ";
          question += $(button).closest('.card').find('.card-header').text() + "\n 내용: ";
          question += message;
          console.log(question);

          $.ajax({
              type: "POST",
              url: "/gemini/chat",
              contentType: "application/json",
              data: JSON.stringify({ message: question, type: type }),
              success: function(response) {
                  $(button).closest('.card').find(".response").html(response + 
                  		"<button type='button' class='btn btn-warning' onclick='alert(\"test\")'>저장</button><button type='button' class='btn btn-warning' onclick='alert(\"test\")'>공유</button>");

                  currentAnswerCount(); // 개수 한거 ajax로 처리 후 보여주기
                  $(".aiAnswersBtnIng").removeClass('disabled').removeAttr('tabindex').removeAttr('aria-disabled').prop('disabled', false);

              },
              error: function(xhr, status, error) {
                  $(button).closest('.card').find(".response").html("에러: " + xhr.responseText);
                  $(".aiAnswersBtnIng").removeClass('disabled').removeAttr('tabindex').removeAttr('aria-disabled').prop('disabled', false);

              }
          });
      }
      
      function currentAnswerCount(){
      	$.ajax({
              type: "POST",
              url: "/currentAnswersCnt",
              success: function(response) {
                  $("#currentAnswersCnt").html("코인: "+response);
              },
              error: function(xhr, status, error) {
              	$("#currentAnswersCnt").html(response);
              }
          });
      }
      
      
      function categoriesList(){
      	$.ajax({
              type: "POST",
              url: "/currentAnswersCnt",
              success: function(response) {
                  $("#currentAnswersCnt").html("남은코인: "+response);
              },
              error: function(xhr, status, error) {
              	$("#currentAnswersCnt").html(response);
              }
          });
      }
      
      function deleteQuestion(questionsNo) {
      	if(confirm('삭제 하시겠습니까?')){
	            $.ajax({
	                type: "POST",
	                data: { questionsNo: questionsNo },  // 수정된 부분
	                url: "/deleteQuestion",
	                success: function(response) {
	                	 if(response === 1) { // 삭제 성공
	                         alert('삭제 되었습니다!');
	                         window.location.reload();
	                     } else {
	                         alert('삭제 실패');
	                     }
	                },
	                error: function(xhr, status, error) {
	                    alert('실패');
	                }
	            });
      	} 
      }
      
      
      function submitForm(questionsNo) {
          // 클릭된 버튼의 부모 카드 내에서 폼을 찾습니다.
          var form = $('#questionsForm_' + questionsNo);
	            if (form.length) {
	                form.attr('method', 'POST');
	                form.attr('action', '/updateQuestionVw');
	                form.submit();
	            } else {
	                console.error('Form not found for question number:', questionsNo);
	            }
          // 해당 폼을 제출합니다.
          form.submit();
      }
      
     
     
      
      function changePage(event, page) {
          event.preventDefault(); // 기본 동작 방지
          //alert(page);
          $("#page").val(page);
          $("#paginationFm").submit(); // 폼 제출
      }

      function myAnswerBtn(button){
          event.preventDefault(); // 기본 동작 방지
          
          // 현재 버튼의 부모 요소 안에 답변 입력 폼이 이미 있는지 확인
          const answerForm = $(button).siblings('.answer-form');
          
          if(answerForm.length > 0) {
              // 답변 입력 폼이 이미 존재하면 제거
              answerForm.remove();
          } else {
              // 답변 입력 폼이 존재하지 않으면 추가
              $(button).parent().append(`
                  <div class="answer-form" style="margin-top:10px;">
                      <div class="mb-3">
                          <textarea class="form-control" id="myAnswerText" rows="5"></textarea>
                      </div>
                      <div>
                          <button type="button" class="btn btn-primary btn-sm aiAnswersBtnIng" onclick="myAnswer(event, this)">답변 제출</button>
                      </div>
                  </div>
              `);
          }
      }

      
      /* function myAnswer(button){
          var myAnswerText = $("#myAnswerText").val();
          var message = $(button).closest('.card').find('.questionText').text(); // 버튼의 부모 카드에서 questionText를 찾음
          var question = "질문: ";
          question += $(button).closest('.card').find('.card-header').text() + "\n 내용: ";
          question += message;
          
      	// 답변 제출 후 입력 폼 숨기기
          $(button).closest('.answer-form').remove();
          $(button).closest('.card').find(".adsense").html(
          		"<div style='border: 1px solid; background-color: #e0e0e0;'>광고</div>"
         		);
           $(button).closest('.card').find(".response").html(
          		    '<div class="d-flex justify-content-center">' +
          		        '<button class="btn btn-primary" type="button" disabled>' +
          		            '<span class="spinner-grow spinner-grow-sm me-2" aria-hidden="true"></span>' +
          		            '<span role="status">인공지능이 답변을 생성중...</span>' +
          		        '</button>' +
          		    '</div>'
          		);

                
          $.ajax({
              type: "POST",
              url: "/gemini/chat",
              contentType: "application/json",
              data: JSON.stringify({ myAnswer: myAnswerText, message: question, type: 'myAnswer' }),
              success: function(response) {
                  $(button).closest('.card').find(".response").html(response + 
                      "<button type='button' class='btn btn-warning' onclick='alert(\"test\")'>저장</button><button type='button' class='btn btn-warning' onclick='alert(\"test\")'>공유</button>");

                  currentAnswerCount(); // 개수 한거 ajax로 처리 후 보여주기
              
                  
              },
              error: function(xhr, status, error) {
                  $(button).closest('.card').find(".response").html("에러: " + xhr.responseText);
              }
          });
      } */
      
      function myAnswer(event, button) {
          event.preventDefault(); // 기본 동작 방지
          var myAnswerText = $(button).closest('.answer-form').find("#myAnswerText").val();
          var message = $(button).closest('.card').find('.questionText').text();
          var question = "질문: ";
          question += $(button).closest('.card').find('.card-header').text() + "\n 내용: ";
          question += message;
          	
          $(".btnHide").css("display","none");
          
       // 로딩 중 표시
          $(button).closest('.card').find(".adsense").html(
         		"<div style='border: 1px solid; background-color: #e0e0e0;'>광고</div>"
        		);
          $(button).closest('.card').find(".response").html(
         		    '<div class="d-flex justify-content-center">' +
         		        '<button class="btn btn-primary" type="button" disabled>' +
         		            '<span class="spinner-grow spinner-grow-sm me-2" aria-hidden="true"></span>' +
         		            '<span role="status">인공지능이 답변을 생성중...</span>' +
         		        '</button>' +
         		    '</div>'
         	);
          
       // 버튼 비활성화
          $(".aiAnswersBtnIng").addClass('disabled').attr('tabindex', '-1').attr('aria-disabled', 'true').prop('disabled', true);


       // 스크롤 이동
          /* $('html, body').animate({
              scrollTop: $(button).closest('.card').offset().top // 현재 카드의 위치로 스크롤
          }, 500); // 500ms 동안 스크롤 이동 */
          
          // AJAX 요청
          $.ajax({
              type: "POST",
              url: "/gemini/chat",
              contentType: "application/json",
              data: JSON.stringify({ myAnswer: myAnswerText, message: question, type: 'myAnswer' }),
              success: function(response) {
                  $(button).closest('.card').find(".response").html(response + 
                      "<button type='button' class='btn btn-warning' onclick='alert(\"test\")'>오답노트 저장</button>"
                  );
                  currentAnswerCount(); // 개수 한거 ajax로 처리 후 보여주기
                  $(".aiAnswersBtnIng").removeClass('disabled').removeAttr('tabindex').removeAttr('aria-disabled').prop('disabled', false);

              },
              error: function(xhr, status, error) {
                  $(button).closest('.card').find(".response").html("에러: " + xhr.responseText);
                  $(".aiAnswersBtnIng").removeClass('disabled').removeAttr('tabindex').removeAttr('aria-disabled').prop('disabled', false);

              }
          });
      }
      
     function disableAllButtons() {
   	    $("button").addClass('disabled').attr('tabindex', '-1').attr('aria-disabled', 'true').prop('disabled', true);
     }

    </script>
</th:block>
<body>
	<div layout:fragment="content" id="content">
	
	    <!-- 로그인된 경우에만 보이는 부분 -->
	    <div th:if="${loginUser != null and loginUser != 'anonymousUser'}">
	        
	        <div class="alert alert-warning" role="alert">
			  <span th:text="${loginUser}"></span> 님 안녕하세요.<br>오늘의 랜덤 문제를 풀어보세요!
			</div>
	        <div th:if="${#lists.isEmpty(result)}">
			    <div class="alert alert-warning" role="alert" th:text="${errorMessage}"></div>
			    <div class="alert alert-light" role="alert">
					<h3 style="text-align:center;">이용방법!</h3>
				    	<p>
				    	1. "문제" 메뉴 탭으로 접속 <br>
				    	2. "카테고리 생성" 클릭해서 카테고리 생성 <br>
				    	3. "문제" 메뉴로 다시 이동해서 "문제생성" <br>
				    	4. 생성된 문제를 이용해 AI 기능을 이용! <br><br>
				 		
				 		* 인공지능 기능을 활용할 때마다 코인이 1개씩 차감됩니다.<br>
				 		* 랜덤 문제는 메인화면에 랜덤으로 문제가 출제되며 입력 후 하루가 지나야 메인화면에 출제됩니다.
			    		</p>
				</div>
			    	
			    
			</div>
				
			<div th:if="${!#lists.isEmpty(result)}" th:each="item : ${result}">
			    <div class="card">
			        <div class="card-header"><strong>- 랜덤 퀴즈!</strong></div>
			        <div class="card-header" th:utext="${item.title}"></div>
			        
			        <div class="card-body">
			            <p class="card-text questionText" th:utext="${item.content}"></p>
				            <a href="#" class="btn btn-primary aiAnswersBtnIng" onclick="aiAnswer(event, this, 'hint')">힌트</a>
				            <a href="#" class="btn btn-primary aiAnswersBtnIng" onclick="aiAnswer(event, this, 'answer')">풀이</a>
				            <a href="#" class="btn btn-primary aiAnswersBtnIng" onclick="myAnswerBtn(this)">답변</a>
			            <button type="button" class="btn btn-warning aiAnswersBtnIng" onclick="location.reload();">다른문제</button>
			        </div>
			        
			        <div class="card-footer text-body-secondary">
			            <span th:utext="${'작성시간 : ' + item.createdAt}"></span>
			            <span th:utext="${item.username}" style="float:right;"></span>
			        </div>
			        <div class="adsense"></div>
			        <div class="response" style="margin:5px;"></div>
			        
			        <input type="hidden" name="questionsNo" th:value="${item.questionsNo}">
			        <input type="hidden" name="title" th:value="${item.title}">
			        <input type="hidden" name="content" th:value="${item.content}">
			    </div>
			</div>

	        <hr>
	        <div class="mb-3">
	            <label for="exampleFormControlTextarea1" class="form-label">* 인공지능에게 질문해보기</label>
	            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
	            <button type="button" class="btn btn-primary aiAnswersBtnIng" onclick="aiAnswerResponse(this)">답변보기</button>
	            <div id="response" style="border-bottom: 1px solid; padding-bottom: 10px;"></div>
	        </div>
	    </div>
	
	
	
	
	
	    <!-- 로그인되지 않은 경우에 보이는 부분 -->
	    <div th:if="${loginUser == null or loginUser == 'anonymousUser'}">
	   		<img src="/images/aiAnswersMainImg.jpeg" class="img-fluid main-image" alt="AIWorkbook Main Image">
	      	<div class="text-center my-5">
			    <h2>AIWorkbook에 오신 것을 환영합니다!</h2>
			
			    <p class="lead mt-4">
			        AIWorkbook은 인공지능을 활용하여 문제 해결의 새로운 차원을 열어드립니다. 
			        사용자가 입력한 문제에 대해 AI가 즉각적으로 답변을 제공하며, 단순한 해답을 넘어 문제의 원리, 
			        어려운 용어에 대한 명확한 설명, 그리고 해당 문제의 학습 영역까지 스스로 판단하여 알려줍니다.
			    </p>
			
			    <p class="mt-4">
			        학습 과정에서 막히는 부분이 있나요? AIWorkbook과 함께라면 더 이상 혼자 고민할 필요가 없습니다. 
			        AI가 제공하는 힌트와 자세한 풀이를 통해 문제를 깊이 이해하고, 더욱 효과적으로 학습할 수 있습니다.
			    </p>
			
			    <p class="mt-4">
			        지금 AIWorkbook과 함께 문제 해결의 즐거움을 경험해보세요!
			    </p>
			</div>

	    </div>
	</div>

    
     
</body>
</html>
