<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="footer">
		<footer class="bg-light py-4 mt-5">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-4 col-md-6 mb-4 mb-md-0">
						<h5 class="text-center mb-4">AiWorkbook</h5>
						<p class="text-center">인공지능과 함께 문제를 풀고, <br>생성하고, <br>분석해보세요!</p>
					</div>
				</div>
			</div>
			<div class="text-center p-3"
				style="background-color: rgba(0, 0, 0, 0.2);">
				© 2024 : <!-- <a class="text-dark" href="https://aianswers.com/">aiAnswersTest.com</a> -->
			</div>
		</footer>
	</div>
</html>